- form_for form do |f|
  %p
    = f.label :name
    = f.text_field :name, :size => 40
  %p
    = f.label :address
    = f.text_area :address, :rows => 6, :cols => 40
  %p
    = f.label :bride, "Bride"
    = f.radio_button :bride, true
    = f.label :bride, "Groom"
    = f.radio_button :bride, false
  %p
    = f.label :category
    = f.collection_select :category_id, Category.find(:all, :order => "name"), :id, :name
  %p
    = f.label :number_estimate
    = f.text_field :number_estimate, :size => 4
  %p
    = f.label :number, "Number actual"
    = f.text_field :number, :size => 4
  %p
    = f.label :num_carrot, "Number Carrot"
    = f.text_field :num_carrot, :size => 4
  %p
    = f.label :num_cheese, "Number Cheese"
    = f.text_field :num_cheese, :size => 4
  %p
    = f.label :num_chocolate, "Number Chocolate"
    = f.text_field :num_chocolate, :size => 4
  %p
    = f.label :num_vanilla, "Number Vanilla"
    = f.text_field :num_vanilla, :size => 4
  %p
    = f.label :present_description
    = f.text_area :present_description, :rows => 6, :cols => 40
  %p
    = f.label :sent_thank_you
    = f.check_box :sent_thank_you
  %p
    = f.label :rsvp_key, 'RSVP Key'
    = f.text_field :rsvp_key, :size => 6
  %p
    = submit_tag (if form.id then "Edit Guest" else "Create Guest" end)
