%h2== Guests - #{Guest.count} invitations

%h3 Stats
%p== #{Guest.number_coming} people coming
%p== #{Guest.number_not_coming} people not coming
%p== #{Guest.number_might_come} people that still might come
%p== Our wedding will have between #{Guest.number_coming} and #{Guest.number_coming + Guest.number_might_come} guests
%p== #{Guest.sum(:num_carrot)} Carrot
%p== #{Guest.sum(:num_chocolate)} Chocolate
%p== #{Guest.sum(:num_vanilla)} Vanilla
%p== #{Guest.sum(:num_cheese)} Cheese

- @guests.group_by(&:rsvp?).each do |rsvp, rsvps|
  %h3= "#{rsvp ? 'Did' : 'Did Not'} RSVP"
  - rsvps.group_by(&:coming?).each do |coming, comings|
    - if rsvp
      %h4= "#{coming ? '' : 'Not '}Coming"
    - comings.group_by(&:category).each do |category, categories|
      %h5= category.name
      - categories.group_by(&:bride).each do |bride, guests|
        %h6= bride ? 'Bride' : 'Groom'
        %ul.guests
          - guests.each do |guest|
            %li
              = link_to guest.name, guest
              - if guest.sent_thank_you 
                %span.number Done
              %address
                %pre= guest.address


