<h2>RSVP</h2>

<p>Please fill out the form below.</p>

<% unless @guest.errors.empty? %>
  <% @guest.errors.each do |attr,error| %>
    <p><span class="error">Error</span>: <%= error %></p>
  <% end %>
<% end %>

<% form_for @guest, :url => rsvp_url(@guest) do |form| %>
  <p>
    <%= radio_button_tag :rsvp_answer, true, true, :onchange => "rsvp_attending(true);" %> Yes I can attend
    <br />
    <%= radio_button_tag :rsvp_answer, false, false, :onchange => "rsvp_attending(false);" %> No I cannot attend
  </p>
  <div class="rsvp_yes">
    <p>
      <%= form.label :number, 'Number of people attending:' %>
      <%= form.text_field :number, :size => 6 %> / <%= @guest.number_estimate %>
    </p>
    <p>
      Dietary Restrictions:<br />
      <%= form.text_area :dietary_restrictions, :rows => 3 %>
    </p>
  </div>
  <p>
    For security reasons can you please type your last name (as written on the invitation):<br />
    <%= text_field_tag :name_check, @name_check %>
  </p>
  <div class="rsvp_yes">
    <p>
      If you have any special needs or requests:<br />
      <%= form.text_area :rsvp_note, :rows => 6 %>
    </p>
  </div>
  <p><%= recaptcha_tags %></p>
  <p><%= submit_tag 'RSVP' %></p>
<% end %>
