%p.name
  = form.label :name
  = form.text_field :name, :size => 30
%p.artist
  = form.label :artist
  = form.text_field :artist, :size => 30
%p.role
  = form.label :role
  = form.text_field :role, :size => 20
%p.submit
  = submit_tag "Save"
